.room {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  margin: 20px;
  border-radius: 16px !important;
  width: 350px !important;
  height: 700px !important;
  background-color: var(--header-color) !important;
  /* https://smoothshadows.com/#djEsMSw0LDAuMTQsMTMsMCwwLCMxMjQ3NTgsI2YzZjRmNiwjZmZmZmZmLDE%3D */
  box-shadow:
    0px 0px 1px var(--hover-color),
    0px 0px 3px var(--hover-color),
    0px 0px 7px var(--hover-color),
    0px 0px 13px var(--hover-color);
}

.head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(./assets/icons/Subtract.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  
}

.head img {
  width: 350px;
  height: 250px;
  transform: translateY(-55px);
}


.foot {
  background-image: url(./assets/icons/Subtract.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: auto;
  width: 100%;
  height: 50px;
}

.fav {
  width: 25px;
  height: 25px;
}

.card-title {
  text-align: center;
  border-bottom: 2px solid var(--hover-color);
  padding: 8px 0 16px;
  color: white !important;
  font-family: "ADLaM Display";
}

.pricing {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
}

.pricing > p {
  font-size: 1.75rem;
  color: var(--bs-red);
  font-family: "ADLaM Display";
}

p {
  margin-bottom: 0 !important;
}

.likes {
  display: flex;
  align-items: center;
  gap: 8px;
}

.likes p {
  color: white;
}

.like-button {
  border: none;
  background-color: var(--header-color);
}

.like-button:hover {
  scale: 1.1;
}

.card-body {
  border-top: 2px solid var(--hover-color);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.book-info {
  border-bottom: 2px solid var(--hover-color);
  padding: 15px;
}

.book-info table {
  font-family: "ADLaM Display";
  font-size: 14px;
  color: white;
}

.author-comment {
  font-family: "Share Tech";
  font-size: 0.8rem;
  color: white;
}

.comment-input {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: auto;
  padding: 15px;
  gap: 8px;
  width: 100%;
}

.send-button img {
  width: 25px;
}

.send-button {
  border: none;
  border-radius: 50%;
  padding: 8px;
  background-color: var(--button-pressed);
}

.send-button:hover {
  scale: 1.1;
}

input {
  border: none;
  border-bottom: 2px solid var(--hover-color);
  background-color: var(--button-pressed);
  font-family: "Share Tech";
  color: var(--hover-color);
  height: 24px;
  align-self: center;
  
}

input::placeholder{
  font-family: "Share Tech";
  font-size: 14px;
}

.comments h4 {
  color: white;
  font-family: "Share Tech";
  
}

.comments table {
  margin-left: auto;
  margin-right: auto;
}

.table-data {
    padding: 8px 4px;
    text-align: start;
    vertical-align:top;
  }

.comments {
    display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 12px;
  padding: 12px ;
  --sb-track-color: #232E33;
  --sb-thumb-color: #6bc1e1;
  --sb-size: 6px;
}

.comments::-webkit-scrollbar {
  width: var(--sb-size)
}

.comments::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.comments::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .comments {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.card-img-top {
  width: 330px;
  height: 250px;
}

@media screen and (max-width:420px) {

  .pricing > p {
    font-size: 1.25rem;
  }

  .likes p {
    font-size: 0.9rem;
  }
  
  .book-info table {
    font-size: 9px;
  }

  .comment-input {
    justify-content: center;
    gap: 0;
  }

  .input-field {
    scale: 0.9;
  }

  .send-button img {
    width: 20px;
  }

  .comments {
    padding: 12px 0;
  }

 .table-data {
    padding: 8px 2px;
    text-align: start;
    vertical-align:top;
  }
}

@media screen and (min-width:1440px) {
  .room {
    padding:25px max(130px, calc(50% - 720px));
  }
  
}